<footer class="footer">
  <div class="container">
    <p class="footer__text">
      <span class="footer__lang">
        &copy; 2022 | All Rights Reserved | Developed with
        <svg width="14px" height="12">
          <use href="./images/sprite.svg#heart"></use>
        </svg>
        by</span
      >
      <a href="#" class="js-open-modal"></a>
    </p>
    <div class="modal">
      <svg class="modal__cross js-modal-close">
        <use href="./images/sprite.svg#modal-close"></use>
      </svg>
      <h2 class="modal__title"></h2>
      <ul class="teammate-list"></ul>
    </div>
    <div class="overlay js-overlay-modal"></div>
  </div>
</footer>
