<section class="main-section">
  <div class="container main-container">
    <ul class="films-list"></ul>
    <ul class="films-list-watched visually-hidden"></ul>
    <ul class="films-list-queue visually-hidden"></ul>
  </div>
</section>

<div class="item-modal-backdrop is-hidden">
  <div class="item-modal">
    <button class="item-modal__close-btn">
      <svg class="item-modal__close-btn-icon">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="item-modal__wrapper"></div>
  </div>
</div>

