*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    background: $white-color;
    line-height: 1.33;
    color: $black-color
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

button {
    display: block;
    cursor: pointer;
    border: transparent;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

label,
input,
textarea {
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}