.footer {
    padding: 30px 0;
    text-align: center;
    background: $footer-background;
    color: $text-color;
}

.footer__text {
    font-size: 16px;
    line-height: 1.19;
}

.modal__title {
    margin-bottom: 10px;
}

.teammate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teammate-list__item {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    padding: 5px;

    width: 150px;
    
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px;
    color: $text-color;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
        background-position: right center;
    }
}

.teammate-list__item--image {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.teammate-list__item--name {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
}

.teammate-list__item--role {
    font-size: 13px;
    font-style: italic;
}

.teammate-list__item--about {
    margin-top: 7px;
}

.teammate-list__item--socials{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: $cubic all;
}

.modal {
    opacity: 0;
    visibility: hidden;
    padding: 15px;

    overflow-y: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;

    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    border-radius: 3px;
    background-color: #fff;
    transition: $cubic all;

    @media screen and (min-width: 320px) and (max-width: 768px){
        width: 75vw;
        height: 90vh;
        // width: 250px;
        // height: 1200px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 700px;
        height: 550px;
    }
    @media screen and (min-width: 1024px) {
        width: 850px;
    }
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}

.js-open-modal {
    display: inline-block;
    color: $text-color;
    text-decoration: underline;
}